/*boxes*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*texte*/
p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

strong {
    font-weight: normal;
}

/*links*/
a {
    text-decoration: none;
    color: black;
}

/*lists*/
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* buttons */
.button {
    color: #fff;
    border: 1px solid #fff;
    font-family: 'Koulen';
    font-size: var(--body-1);
    padding: 0.1rem 0.7rem;
}