/* Caroussel */
@keyframes up {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

/* Menu */
@keyframes rightToLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.menuTitleActif {
    display: block;
    animation: rightToLeft 450ms ease-in-out forwards;
}

.menu__main-element2 {
    animation-duration: 500ms;
}

.menu__main-element3 {
    animation-duration: 550ms;
}

.menu__main-element4 {
    animation-duration: 600ms;
}

.menu__main-element5 {
    animation-duration: 650ms;
}


/* Projects Gallery
@keyframes appearsUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */




/* Title Home-card */
@keyframes reveal {
    from {
        background-position-x: 200%;
    }
    to {
        background-position-x: 0%;
        background-size: 800%;
    }
}

.reveal {
    background: linear-gradient(90deg, white, transparent);
    background-size: 200%;
    background-repeat: no-repeat;
    animation: reveal both linear;
    animation-duration: 1ms;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


/* Scroll Arrow */
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0px);
    }
    30% {
        transform: translateY(10px);
    }
    700% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation: bounce 3s ease-out infinite;
}