:root {
    /* Color styles */
    --bleu-clair: rgba(88, 126, 121, 1);
    --bleu-foncé: rgba(8, 77, 103, 1);
    --rouge: rgba(94, 13, 22, 1);
    --gris: rgba(221, 221, 221, 1);

    /* Text-size styles */
    --heading-1: 36px;
    --heading-2: 16px;
    --body-1: 20px;
    --body-2: 15px;
    --menu-1: 40px;
    --menu-2: 32px;
    --body-3: 11px;
    --introduction: 16px;
    --heading-3: 24px;
}
