/*HEAD*/
.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 100%;
    padding: 1rem 1rem 0.5rem 1rem;

    background-color: black;
    border-bottom: 1px solid white;
    position: fixed;
    z-index: 3;
    top: 0;
}

.head__logo {
    width: 25%;
    max-width: 200px;
    filter: invert(100%);
}

.head__menu-burger {
    filter: invert(100%);
    width: 12%;
    display: flex;
}