/* 404 page */
.erreur__body{

    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.erreur__title-container {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.erreur__title {
    font-family: 'Commissioner', sans-serif;
    font-size: var(--heading-1);
    font-weight: 900;
    color: var(--rouge);
}

.erreur__text {
    font-family: 'Alumni sans', sans-serif;
    font-size: var(--body-1);
    margin-bottom: 20px;
    color: #777;
}

.erreur__link {
    color: #428bca;
    text-decoration: none;
}

.erreur__link:active {
        text-decoration: underline;
}

/* Main index */
.index__body {
    background-color: #f1f1f1;
}

.index__link {
    font-family: 'Koulen';
}

.index__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}