.header {
    height: 90vh;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Aligner le contenu en bas de la hauteur disponible */
    align-items: center; /* Centrer horizontalement le contenu */

    margin: 0;
    padding: 0% 5%;

    background: linear-gradient(to bottom, rgba(155, 46, 46, 0) 25%, rgba(0, 0, 0, 0.993) 60%),url(/assets/img/home_header.webp);
    background-size: contain;
    background-repeat: no-repeat;

    gap: 1rem;
}
/*
.header__background {
    position: absolute;
    z-index: -2;

    padding: 0;
    left: 0;
}
*/

/*title*/
.header__title {
    align-self: flex-start;
    display: flex;
    align-items: center;
}

.header__title--text {
    width: 100%;
    z-index: 2;
    color: white;
    font-family: 'Playfair Display SC', serif;
    font-size: var(--heading-1);
    font-weight: lighter;
}


.header__title--background {
    position: absolute;
    z-index: 1;
    background-color: var(--rouge);
    min-width: 170px;
    min-height: 70px;
    padding: 8% 15%;
    left: 0;
}


/*content*/
.header__content {
    text-align: center;
    color: white;
    margin-bottom: 3%;
    font-family: 'Khand', sans-serif;
    font-size: var(--body-1);
}

.header__tiret {
    width: 10%;
    border: 1px solid white;
}