/* Main */
.menu {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    height: 100vh;
    width: 100%;

    right: -100%;
    transition: right 300ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 3;
    padding-top: calc(2rem + 40px);
}

.menu-actif {
    right: 0;
}

.noscroll {
    overflow: hidden;
}

/* Couleur */
.menu__main-link,
.menu__secondary-link,
.footer__element--link,
.footer__langage-btn,
.footer {
    color: #fff;
}

/* Nav */
.menu__main {
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.menu__main-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu__main-link {
    color: #000;
    -webkit-text-stroke: .5px white;
    font-size: var(--menu-1);
    font-family: 'Koulen', sans-serif;
    letter-spacing: 2px;
}

.menu__main-element {
    position: relative;
}

.menu__main-link-2 {
    font-size: var(--menu-2);
}


/* Bouton langue */
.menu__langage {
    position: absolute;
    right: 1rem;
    top: 6rem;
}


/* Mise en couleur pour la naviguation */
.menu__highlight {
    color: #fff;
    -webkit-text-stroke: 0px;
}