/* Main */
.menu {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    height: 100vh;

    right: -400%;
    transition: right 300ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    z-index: 3;
    padding-top: calc(2rem + 40px);
}

.menu-actif {
    right: 0;
}

.noscroll {
    overflow: hidden;
}

/* Couleur */
.menu__main-link,
.menu__secondary-link,
.footer__element--link,
.footer__langage-btn,
.footer {
    color: #fff;
}

/* Nav */
.menu__main {
    padding: 3rem 1rem;
}

.menu__main-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__main-link {
    color: #000;
    -webkit-text-stroke: .5px white;
    font-size: var(--menu-1);
    font-family: 'Koulen', sans-serif;
}

.menu__main-element {
    position: relative;
}

.menu__main-element:not(:last-child):after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 10px;
    bottom: -10px;
}

/* Footer */
.menu__footer {
    align-self: flex-end;
}


/* Mise en couleur pour la naviguation */
.menu__main-line-title {
    color: #fff;
    -webkit-text-stroke: 0px;

}

.menu__main-film-title {
    color: #fff;
    -webkit-text-stroke: 0px;

}

.menu__main-producer-title {
    color: #fff;
    -webkit-text-stroke: 0px;

}

.menu__main-music-title {
    color: #fff;
    -webkit-text-stroke: 0px;

}

.menu__main-book-title {
    color: #fff;
    -webkit-text-stroke: 0px;

}

