/* Main + Novel slider */
.caroussel__title {
    color: #fff;
    padding: 1rem 1rem;

    font-size: var(--heading-3);
    font-family: 'Alumni sans', sans-serif;
    font-weight: lighter;
}
.caroussel {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0rem;
}

.caroussel__container {
    display: flex;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type:x mandatory;
}

.caroussel__screen {
    width: 60%;
    height: 410px;
    flex: none;
    scroll-snap-align: center;
    border-bottom: 1px solid #000;

    display: flex;
    flex-direction: column;
}

.caroussel__template {
    width: 100%;
}

.caroussel__img {
    object-fit: contain;
    margin-right: 1rem;
}

.caroussel__figure {
    margin: 0;
    width: 100%;
}

.caroussel__text {
    color: white;
    font-size: var(--heading-2);
    font-family: 'Koulen', sans-serif;
}


/* Films */
.caroussel-film {
    margin-bottom: 5rem;
}

.caroussel__screen-films {
    width: 90%;
    height: auto;
    margin: 0.5rem .3rem;
}

.caroussel__text-film {
    margin-left: 10px;
}